{
    "host": "irc.efnet.org",
    "port": 6697,
    "maxNickLength": 16,
    "channels": {
        "#some-channel": "",
        "#other-channel": ""
    },
    "excludeNicks": [
        "some-nick",
        "other-nick"
    ],
    "discordToken": "MTExNDY0MjcxNTM2ODQ4ODk2MA.G5Gd3L.lKqSRoal9O94agZYhJpMDbokCfp_9dqJLA8m_o"
}