{
    "host": "irc.efnet.org",
    "port": 6697,
    "maxNickLength": 16,
    "channels": {
        "#some-channel": "",
        "#other-channel": ""
    },
    "excludeNicks": [
        "some-nick",
        "other-nick"
    ],
    "discordToken": ""
}